{% extends "core/base.html" %}
{% load static %}


{% block head %}
  <link href="https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.css" rel="stylesheet" />

  <script src="https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.js"></script>
  <script id="search-js" defer src="https://api.mapbox.com/search-js/v1.0.0/web.js"></script>
{% endblock %}

{% block content %}

  <div class="header-contact">
    <div class="bar left"></div>
    <h2 class="section-title">Réserver votre course</h2>
    <div class="bar right"></div>
  </div>

  <div class="main-contact">
    <div class="map-container">
      <div class="duration-container">
        <p class="duration-infos">Durée de la course : <span class="duration"></span></p>
      </div>
      <div id="map"></div>
    </div>
    <div class="main-form">
      <div class="header-form">
        <h3 class="subtitle">Informations Trajet</h3>
        <p class="infos">Indiquez simplement l'adresse de départ, l'heure<br> souhaitée et votre destination. Je m'occupe du reste !</p>
      </div>
      <div class="timeline">
        <div class="step-container">
          <div class="step-icon" id="first-icon">
            <img src="{% static 'images/group.png' %}" alt="">
          </div>
          <span class="step" >Etape 1</span>
          <span class="step-detail">Identité</span>
        </div>
        <div class="step-container">
          <div class="step-icon">
            <img src="{% static 'images/second.png' %}" alt="">
          </div>
          <span class="step">Etape 2</span>
          <span class="step-detail">Trajet</span>
        </div>
        <div class="step-container">
          <div class="step-icon">
            <img src="{% static 'images/third.png' %}" alt="">
          </div>
          <span class="step">Etape 3</span>
          <span class="step-detail">Dates</span>
        </div>
      </div>
      <div class="form">
        <form method="post" class="form-container" id="regForm">
          {% csrf_token %}
          <div class="first-form form-step">
            <div class="input-container">
              <label for="first_name">Prénom</label>
              <input type="text" id="first_name" name="first_name" placeholder="Jhon" required oninput="this.className = ''" >
            </div>
            <div class="input-container">
              <label for="surname">Nom</label>
              <input type="text" id="surname" name="surname" placeholder="Doe" oninput="this.className = ''">
            </div>
            <div class="input-container">
              <label for="phone_number">Téléphone</label>
              <input type="text" id="phone_number" name="phone_number" placeholder="0101010101" maxlength="10" oninput="this.className = ''">
            </div>
            <div class="input-container">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" placeholder="Jhondoe@gmail.com" oninput="this.className = ''">
            </div>
          </div>
          <div class="second-form form-step">
            <div class="input-container">
              <label for="start">Adresse de départ</label>
              <input type="text" id="start" name="start" placeholder="699 avenue aristide briand" autocomplete="street-address" oninput="this.className = ''">
            </div>
            <div class="input-container">
              <label for="end">Adresse d'arrivée</label>
              <input type="text" id="end" name="end" placeholder="5 place de la liberté" autocomplete="street-address" oninput="this.className = ''">
            </div>
          </div>
          <div class="third-form form-step">
            <div class="input-container">
              <label for="date">Date du trajet</label>
              <input type="date" id="date" name="date" oninput="this.className = ''">
            </div>
            <div class="input-container">
              <label for="hour">Heure du trajet</label>
              <input type="time" id="hour" name="hour" placeholder="hh:mm" oninput="this.className = ''">
            </div>
            <div class="message-container input-container">
              <label for="message">Informations suplémentaires</label>
              <textarea id="message" name="message" placeholder="(facultatif)" rows="8" oninput="this.className = ''"></textarea>
            </div>
          </div>

          <div>
            <button type="button" id="prevBtn" class="secondary-button" onclick="nextPrev(-1)">Retour</button>
            <button type="button" id="nextBtn" class="primary-button" onclick="nextPrev(1)">Suivant</button>
          </div>

        </form>
      </div>
    </div>


  </div>

  <script src="{% static "js/mapconfig.js" %}"></script>
  <script src="{% static "js/form_wizard.js" %}?v=1"></script>

{% endblock %}
