@import 'config.css';

body{
  margin: 0;
  padding: 0;
}

.header-contact{
  background-color: var(--background-color);
  padding: 2rem;
  position: relative;
}

.bar{
  width: 130px;
  height: 10px;
  background-color: var(--infos-color);
  position: absolute;
  bottom: 0;
}

.right{
  right: 0;
}

.left{
  left: 0;
}

.section-title{
  text-align: center;
  font-size: var(--title-size);
  color: var(--text-white);
  font-family: var(--title-font);
  font-weight: var(--title-weight);
  text-transform: uppercase;
  margin: 0;
}

.main-contact{
  display: flex;
}

.main-form{
  background-color: var(--background-color);
  width: 60%;
  padding: 2rem;
}

.subtitle{
  font-family: var(--subtitle-font);
  font-size: var(--subtitle-size);
  color: var(--text-white);
  font-weight: var(--subtitle-weight);
  margin: 0;
}

.infos{
  color: var(--infos-color);
  font-size: 1rem;
  font-family: var(--infos-font);
  font-weight: var(--infos-weight);
  letter-spacing: 1.2px;
}

.timeline{
  margin: 32px auto;
  width: fit-content;
  display: flex;
  gap: 16px;
  align-items: center;
}

.step-container{
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.step-icon{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--infos-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.step{
  color: var(--infos-color);
  font-family: var(--infos-font);
  font-size: 12px;
}

#first-icon{
  background-image: var(--gradient-primary);
}

.step-detail{
  color: var(--text-white);
  font-family: var(--infos-font);
  font-size: 12px;
}

.line{
  width: 128px;
  height: 2px;
  background-color: var(--infos-color);
}

#map{
  width: 50%;
  height: 586px;
}

.form{
  margin: 0 auto;
  max-width: 528px;
}

.form-container{
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.form-step{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

input{
  width: 248px;
  height: 48px;
  padding: 5px;
  border: 1px solid var(--infos-color);
}

.hidden{
  display: none;
}
