{% extends "core/base.html" %}
{% load static %}

{% block content %}
  <div class="main-footer">
    <div class="footer-container">
      <h1>Taxi <span class="logo-blue">Yvelines</span></h1>
      <div class="mark-container">
        <div class="mark-footer"></div>
        <div class="mark-footer"></div>
        <div class="mark-footer"></div>
        <div class="mark-footer"></div>
        <div class="mark-footer"></div>
      </div>
    </div>
    <div class="nav-footer">
      <div class="sections-container">
      <span>Sections</span>
      <div class="sections-content">
        <span>Blog</span>
        <span>Tarif</span>
        <span>Contact</span>
        <span>Réserver</span>
      </div>
    </div>
    <div class="sections-container">
      <span>Mentions</span>
      <div class="sections-content">
        <span>Conditions générales d'utilisation (CGU)</span>
        <span>2025 © Lugez Logan</span>
      </div>
    </div>
    </div>
  </div>

{% endblock  %}
