{% load static %}

  <div class="navbar">
    <a href="/">
      <div class="logo">
        <span>Taxi</span> <span class="logo-blue">Yvelines</span>
      </div>
    </a>
    <div class="burger" id="burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
      <nav class="nav" id="nav">
        <ul>
          {% if request.path == "/" or request.path == "/home/" %}
            <li><a class="nav-link"  href="#about">A propos</a></li>
            <li><a class="nav-link"  href="#tarif">Tarif</a></li>
            <li><a class="nav-link" id="cta-nav"  href="#contact">Réserver</a></li>
          {% else %}
            <li><a class="nav-link" href="{% url 'home' %}#about">A propos</a></li>
            <li><a class="nav-link" href="{% url 'home' %}#tarif">Tarif</a></li>
            <li><a class="nav-link" id="cta-nav" href="{% url 'home' %}#contact">Réserver</a></li>
          {% endif %}
          <li><a class="nav-link" href="/blog">Blog</a></li>
        </ul>
      </nav>
    <div class="phone-container">
      <a href="tel:+33615233442">
        <button class="secondary-button">+33 6 15 23 34 42</button>
      </a>
    </div>
  </div>
