<div class="navbar">
  <a href="/home">
    <div class="logo">
      <span>Taxi</span> <span class="logo-blue">Yvelines</span>
    </div>
  </a>
  {% if request.path == "/" or request.path == "/home/" %}
    <nav>
      <ul>
        <li><a class="nav" href="#about">A propos</a></li>
        <li><a class="nav" href="#tarif">Tarif</a></li>
        <li><a id="cta-nav" class="nav" href="#contact">Réserver</a></li>
        <li><a class="nav" href="/blog">Blog</a></li>
      </ul>
    </nav>
  {% endif %}
  <div class="phone-container">
    <a href="tel:+33615233442">
      <button class="secondary-button">+33 6 15 23 34 42</button>
    </a>
  </div>
</div>
